<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	<style type="text/css">
	.testRoom{
		border-style: solid;
		margin: 4px;
		float: left;
	}
	.testUser{
		border-style: dotted;
		margin: 4px;
		float: left;
	}
	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "VOfficeApp/js/Basic.js" %}"></script>

	<script type="text/javascript">
	
		function setTemplate(roomId) {
			
			var templateId = $("input[name='testSelectTemplate']:checked").attr("templateId");
			
			sendData("assignRoomTemplate" , {
				room: roomId,
				template: templateId
			}, function(){					
			});
		}
		function updateTemplate(id) {
			
			sendData("updateRoomTemplate" , {
				template: id,
				color_one: $("#color1_temp_" + id).val(),
				color_two: $("#color2_temp_" + id).val(),
			}, function(){					
			});
			
			
		}
		$(document).ready(function () {
			
			getData("getOffice" , function(data) {
								
				
				var html = "------------------------";
				for (var roomId in data.rooms) {
				
					//if(data.rooms[roomId].type != 'department' && data.rooms[roomId].type != 'office') {
						html += '<div>' + data.rooms[roomId].name;	
						
						html += '<br>';
						html += data.rooms[roomId].template;
						html += '<br>';	

						html += '<button onclick="setTemplate(' + roomId + ')">Set Template</button>';
						html += '</div>';				
						html += '------------------------';				
					//}
				}
				
				$("#testRooms").html(html);				
			});
			getData("listRoomTemplates" , function(data) {
				
				
				var html = "";
				for (var t in data.templates) {
				
					html += '<div>';		
					html += data.templates[t].name;		
					html += '<input type="radio" name="testSelectTemplate" templateId=' + t + '>';
					html += '<input type="color" id="color1_temp_' + t + '" value="' + data.templates[t].color_one;
					html += '" onchange=updateTemplate(' + t + ')>';
					html += '<input type="color" id="color2_temp_' + t + '" value="' + data.templates[t].color_two;
					html += '" onchange=updateTemplate(' + t + ')>'
					html += '</div>';					
				}
				
				$("#testTemplates").html(html);				
			})
			
			$("#testCreateTemplate").click(function () {
			
				sendData("addRoomTemplate" , {
					name: $("#testTempName").val(),
					color_one: $("#color1").val(),
					color_two: $("#color2").val(),
				}, function(){					
				});
				
			});
			
			$("#testCreateRoom").click(function () {
				
				var templateId = $("input[name='testSelectTemplate']:checked").attr("templateId");
				var type = $("#typeSelect").val();
				
				sendData("addRoom" , {
					name: $("#testRoomName").val(),
					type: type,
					template: templateId,
					width: $("#width").val(),
					height: $("#height").val(),
				}, function(){					
				});
				
			});
		});
	</script>
</head>
<body>

	<form method="Post" action='{% url "logoutView" %}'>
		{% csrf_token %}
		<button type="submit" >Logout</button>
	</form>	
	<br/>
	---------------------------------------------------------------
	<p/>
	name: <input type="text" id="testTempName" value="Template"/><br>
	color 1: <input type="color" id="color1" value="#ff0000"><br>
	color 2: <input type="color" id="color2" value="#00ff00"><br>
	All visual data shared between rooms
	<br>
	<button id="testCreateTemplate">Create Template</button>
	<br>	
	<div id="testTemplates">
	</div>
	<br>
	---------------------------------------------------------------
	<p/>
	<input type="text" id="testRoomName" value="Meeting"/><br>
	Type:
	<select id='typeSelect'>
		<option value="meeting">Meeting Room</option>
		<option value="reception">Reception</option>
	</select>
	<br>
	Size: 
	<input type="number" id="width" min="1" max="20" value="2">
	<input type="number" id="height" min="1" max="20" value="2">
	<br>
	<button id="testCreateRoom">Create Room</button>
	<br>
	---------------------------------------------------------------
	<p/>
	Rooms:
	<div id="testRooms">
	</div>
</body>
</html>