<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "VOfficeApp/js/Basic.js" %}"></script>
	<style type="text/css">
		.selectBox{
			border-style: inset;
			margin: 1px;
			overflow-y: scroll;
			height : 60vh;
		}
		table,tr, td {
			border: 1px inset black;
			padding: 4px;
			padding-right: 16px;
			margin:0;
			border-collapse: collapse;
		}
		
	</style>
	<script type="text/javascript">

	
		var permissionData = null;
		var users = null;
		var search = "";
		
		function checkUser(user) {
			
			return (search.length == 0 ) || 
				(user.email.indexOf(search) > -1) ||
				(user.firstname.indexOf(search) > -1) ||
				(user.lastname.indexOf(search) > -1);
		}
		
		function drawUsers() {
			
			var html = '';

			html += '<table>';
			
			for (var userId in users) {

				user = users[userId];				
				
				if(!checkUser(user)) {
					continue;
				}
				
				html += '<td>';
				html += user.email;
				html += '</td>';
				html += '<td>';
				html += user.firstname;
				html += '</td>';
				html += '<td>';
				html += user.lastname;
				html += '</td>';
				html += '<td>';
				html += '<select class="selectDesignation" id="select_' + userId + '" user="' + userId + '">';
				
				
				for (var i = 0; i < permissionData.designations.length; i++) {					
					
					html += '<option';
					
					html += ' value="' + permissionData.designations[i].id + '"';	
					if(permissionData.designations[i].id == user.designation) {
						html += ' selected';
					}
					html += '>';	
					html += permissionData.designations[i].name;								
					html += '</option>';
				}
				
				html += '<option value="-1"';
				if(user.designation == null) {
					html += ' selected';
				}
				html += '>';
				html += 'None';
				html += '</option>';
				html += '</select>';

				html += '</td>';
				html += '</tr>';
			}

			html += '</table>';
			
			$("#testSelectUser").html(html);
			$(".selectDesignation").change(function(e){
				

				var userId = $(e.target).attr('user');
				var selected = $("#select_" + userId).find(":selected");
										
				sendData("assignUserDesignation" , {
					user: userId,
					designation: selected[0].value
				}, function(){	
				});
			});
		}
		$(document).ready(function () {			
			
			getData("getPermissionData" , function(permissions) {
				
				permissionData = permissions;
				
				getData("listUsers/employee" , function(data) {

					users = data.users;					
					drawUsers();
				});
			});		
			$("#searchText").on('input', function(e){
				

				search = $("#searchText").val().trim();
				drawUsers()
			});
			
		});
	</script>
</head>
<body>

	<form method="Post" action='{% url "logoutView" %}'>
		{% csrf_token %}
		<button type="submit" >Logout</button>
	</form>	
	<br/>
	
	<input id="searchText" type="text"></input>
	<p/>
	<div class="selectBox" id="testSelectUser"></div>
	
</body>
</html>