<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	<style type="text/css">
	
	.officeFrame {
	
		float: right;
		width: 70%;
	}
	.messageFrame {
		float: left;
		width: 30%;
		height:100%;
	}
	#messages{
		position:relative;
		overflow-y: scroll; 
		max-height: 60vh;
	}
	.message {
		padding: 8px;
		margin: 2px;
		text-align: left;
	}
	.message_border {
	
		border-style: solid;
		padding: 8px;
		border-width: 1px;
		border-radius: 10px;
		text-align: left;
		background-color: lightgray;
	}
	.own_message {
		text-align: right;
	}
	
	.testRoom{
		border-style: solid;
		margin: 4px;
		float: left;
		border-radius: 10px;	
	}
	
	.profileImage {
		width:60%;
		position: relative;
	}
	.listImage {
		width:60%;
		position: relative;
	}
	.roomSlot{
		background-image: url("../static/VOfficeApp/images/default_avatar.png");
 		background-color: #cccccc;
		border-radius: 5px;	
		text-align: center;
	}
	.user_list {
	
		position: absolute;
		bottom:0;
		width: 300px;
		height: 15vh;
		overflow-y: scroll; 
		
		bottom: 0;
	}
	audio {
		position: relative;
		height: 40px;
	}
	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "js/Basic.js" %}"></script>
	<script src="{% static "js/ServerConnection.js" %}"></script>
	<script src="{% static "js/AudioMessageRecorder.js" %}"></script>

	<script type="text/javascript">
	
		var ownId = 1;//{{ user_id }};
		var currentRecorder = null;
		
		function createConversation(targetUser) {
			sendData("addConversation" , {
				topic: "test",
				target: targetUser
			}, function(){					
			});
			
		}
		function getMessageHtml(message) {
			var html = '';
			html += '<div class="message';
			if(message.sender == ownId) {								
			
				html += ' own_message';
			}
			html += '">';
			
			if(message.type == 'a') {

				html += '<div>';
				
				if(message.sender != ownId) {	
					
					html += employeeMap[message.sender].firstname;
					html += ':<br>';	
				}
				
				html += '<audio controls class="audioElement"'
				html += 'src="/downloadAudioMessage/' + message.data_id  + '"';
				html += '</audio><br>';
				html += '</div>';
			} else {
			
				html += '<span class="message_border">';		
				if(message.sender != ownId) {	
					
					html += employeeMap[message.sender].firstname;
					html += ':&nbsp;';	
				}
				if(message.type == 't') {
					html += message.text;
				} else if(message.type == 'f') {
					html += '<a target="_blank" href="/downloadFile/';
					html += message.data_id + '">';					
					html += message.text;
					html += "</a>";
				}
				html += '</span>';
			}
			html += '</div>';
			
			return html;
		}
		function updateConversation(convId) {
			
			getData("requestConversation/" + convId , function(data) {
				
				var html = '';
				for(var m = 0;m < data.messages.length; m++) {	
					
					html += getMessageHtml(data.messages[m]);
					
				}
				$("#messages").html(html);
				$("#messages").scrollTop($("#messages")[0].scrollHeight);
			});
		}
		function updateConversations() {
			
			getData("getMessageStatus" , function(data) {
				

				$("#convoCount").html(data.conversations);
				$("#messageCount").html(data.messages);
			});
			
			getData("listConversations" , function(data) {
				
				var html = '';
				for(var i = 0;i < data.conversations.length; i++) {

					html += '<div>';
					
					var conversation = data.conversations[i];
					var sep = ""
					html += '<input type="radio" name="selectConversation" convId=' + conversation.id + '/>';
					for(var u = 0;u < conversation.users.length; u++) {						
						
						var user = employeeMap[conversation.users[u]];
						
						if(user.id != ownId) {
							
							html += sep;
							html += user.firstname;
							html += '(' + user.id + ')';
							sep = " , ";
						}
					}
					
					if(conversation.latest != null) {
						html += '&nbsp;' + conversation.latest.text;
					}
						
					html += '</div>';
				}
				$("#conversations").html(html);
				
				
				$("input[name='selectConversation']").change(function(){
					
					var convId = parseInt($("input[name='selectConversation']:checked").attr("convId"));
					
					
					updateConversation(convId);
				});
			});
		}
		///////////////////////////////
		var employeeMap = null;
		var roomMap = null;
		var roomTemplates = null;
		var userToRoomMapping = null;
		
		
		var defaultUrl = "../static/VOfficeApp/images/default_avatar.png";
		
		function roomHtml(w,h) {
			var f = 80;
			return '<div class="testRoom" style="width: ' + (w * f) + 'px;height: ' + (h * f) + 'px;">';
		}
		function roomSlotHtml(id, index,w,h) {
			
			var f = 95;
			var html = '<div id="room_' + id + '_' + index + '" ';
			html += 'class="testRoom roomSlot" style="width: ' + (w * f) + 'px;height: ' + (h * f) + 'px;';
			html += '">';

			
			return html;
		}
		function getRoomHtml(room) {
			var f = 80;
			var w = room.width;
			var h = room.height;
			
			var html = '<div id="room_' + room.id + '" class="testRoom" style="width: ' ;
			html += (w * f) + 'px;height: ' + (h * f) + 'px;';
			
			if(room.template > -1) {
				
				html += 'background-color: ' + roomTemplates[room.template].color_one + ';';
				html += 'border-color: ' + roomTemplates[room.template].color_two + ';';
			}
			
			html += '">';
			html += room.name + "<br/>";
			
			if(room.type == 'office') {
				
				html += employeeMap[room.owner].email + "<br/>";
			} else if(room.type != 'department') {
				
				html += '<button onclick="enterRoom(' + room.id + ')">Enter</button><br>';
				
			}
			if(room.type != 'office') {
				
				html += addSlots(room.id, w * h);				
				
			} else {

				html += addSlots(room.id, 1);	
			} 
				
			html += '</div>';
			return html;
		}
		
		function enterRoom(roomId) {
			sendData("enterRoom" , {
				room: roomId,
			}, function(){					
			});
		}
		function addSlots(roomId, count) {
			var html = "";
			
			for(var c = 0; c < count; c++) {
				
				html += roomSlotHtml(roomId, c, 0.5, 0.5);
				html += '</div>';
			}
			

			return html;
		}
				
				
		function updateRoomStatus() {
			
			if(userToRoomMapping == null) {
				return;
			}
			$(".roomSlot").html("");
			
			for (var userId in userToRoomMapping) {

				user = employeeMap[userId];
				
				var imageUrl = defaultUrl;
				if(user.profileImage > -1) {
					imageUrl = "/getProfileImage/" + user.profileImage;
				}
				
				$("#room_" + userToRoomMapping[userId].room + "_" + userToRoomMapping[userId].slot).html(
						
						'<img class="profileImage" src=\'' + imageUrl + '\'></img>'+ "<br>"  + 
						user.firstname.charAt(0) + " " + user.lastname.charAt(0)
						
						
				);
			}
		}
		function updateRooms() {
			getData("getOfficeStatus" , function(data) {
				
				userToRoomMapping = data;
				
				updateRoomStatus();
			});
			
			//setTimeout(updateRooms, 500);
		}
		
		function update() {
			getData("voffice/listUsers/employee" , function(dataEmployees) {
				
				employeeMap = dataEmployees.users;
				
				var html = '';
				

				updateConversations();
				
				getData("listRoomTemplates" , function(dataTemplates) {
					
					roomTemplates = dataTemplates.templates;
					
					getData("getOffice" , function(data) {
										
						roomMap = data.rooms;
						
						var html = "";
						for (var roomId in data.rooms) {
							
							html += getRoomHtml(data.rooms[roomId]);
						}
						
						$("#testOffice").html(html);
						
						updateRooms();
					});
				});
			});	
		}
		$(document).ready(function () {			
						
			update();
			
			
			$("#testEnter").click(function () {
				
				sendData("enterOffice" , {
				}, function(){					
				});
				
			});
			
			$("#sendMessage").click(function () {
				
				var convId = parseInt($("input[name='selectConversation']:checked").attr("convId"));
				
				sendData("sendMessage" , {
					conversation:convId,
					text: $("#messageText").val()
				}, function(){		
					$("#messageText").val("");
				});
				
			});
			$("#sendFileButton").click(function () {
				
				var convId = parseInt($("input[name='selectConversation']:checked").attr("convId"));
				
				var path = "shared";
				var files = $('#file')[0].files[0]; 
				sendFileMessage(files, path, convId);
			});
			//Audio Rec
			$("#recordMessage").click(  function () {
				
				if(currentRecorder == null) {
					currentRecorder = new AudioMessageRecorder();
					
					$("#recordMessage").html("Stop");
					
					currentRecorder.record(function(){						

						$("#recordMessage").html("Rec");
						$("#sendRecordedMessage").attr("disabled" , false);
					}, function() {

						currentRecorder = null;
						$("#recordMessage").html("Rec");
					});
				} else {

					currentRecorder.stop();
				}
			});
			
			$("#sendRecordedMessage").click( function () {
				
				if(currentRecorder == null) {
					return;
				}
				
				var convId = parseInt($("input[name='selectConversation']:checked").attr("convId"));
				
				var fd = new FormData();
				//var files = $('#file')[0].files[0]; 
	            fd.append('files', currentRecorder.buffer); 
	            fd.append('conversation', convId); 
	            fd.append('csrfmiddlewaretoken', getCookie('csrftoken')); 
	            //fd.append('description', 'desc'); 
	            //fd.append('path', path); 
	            
				$.ajax({
					url : '/sendAudioMessage',
					method : 'POST',
					data : fd,
					cache: false,
		            contentType: false,
		            processData: false
					
				}).done(function() {

				}).fail(function(e) {
						console.log(e);
				});
				
				$("#sendRecordedMessage").attr("disabled" , true);			
			});
			/////
			
			var serverConnection = new ServerConnection();
			serverConnection.onData = function(data) {
				
				if(data.type == 'update') {
					if(data.update == 'newWindow') {
						
						console.log("close");
						serverConnection.close();
						$("#testOffice").html("New Window Opened");
					} else if(data.update == 'rooms') {
						
						userToRoomMapping = data.data;
						
						updateRoomStatus()
					} else if(data.update == 'office') {
						
						update();
					} else if(data.update == 'message') {
						
						var convId = parseInt($("input[name='selectConversation']:checked").attr("convId"));
						
						if(convId == data.conversation) {
							$("#messages").append(getMessageHtml(data.message));

							$("#messages").scrollTop($("#messages")[0].scrollHeight);
							if(data.message.sender != ownId) {
								serverConnection.send({type:'message', 'message': data.message.id});
							}
						}
					}			
					
				}
			}			
			serverConnection.connect();
		});
	</script>
</head>
<body>

	<div class="officeFrame">
		<button id="testEnter">Enter Office</button>
		<div id="testOffice">
		</div>
	</div>
	
	
</body>
</html>