<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "js/Basic.js" %}"></script>

	<script type="text/javascript">
			
		$(document).ready(function () {			
			
			
			$("#testCreateuUserButton").click(function () {
				
				sendData("createTestUsers" , {
				}, function(){					
				});
				
			});
			$("#testCreateMeetingRooms").click(function () {
				
				sendData("createTestRooms" , {
				}, function(){					
				});
				
			});
			$("#testCreateOffice").click(function () {
				
				sendData("createTestCompany" , {
				}, function(){					
				});
				
			});
			$("#loadCompanyData").click(function () {
				
				sendData("loadCompanyData" , {
				}, function(){					
				});
				
			});
			$("#setProfilePictures").click(function () {
				
				sendData("setProfilePictures" , {
				}, function(){					
				});
				
			});
			
		});
	</script>
</head>
<body>

	<br>	
	<button id="testCreateuUserButton" >Create Users</button><p>
	<button id="testCreateMeetingRooms" >Create Meeting Rooms</button><p>
	<button id="testCreateOffice" >Create Office</button><p>
	<button id="loadCompanyData" >Load Comapny Data</button><p>
	<button id="setProfilePictures" >setProfilePictures</button><p>
	<!-- <button id="testCreateuCompanyButton" >Create Company</button> -->
</body>
</html>