<div style="border:2px double #999;height:auto; margin:auto; font-family:Calibri; font-size:12px; width:480px;">
    <div style="background:#ddd; height:60px; padding:10px; font-size:16px;text-align:center">


        <br />
        <b align="center" style="color:blue;font-size:20px;">Activation Mail</b>
    </div>
    <br />
    <div style="padding:5px;">
    Dear <span>
        <b>{{username}}</b>
        <br /><br />
    </span>Welcome to Voffice !
    <br />
        <p>You have been provided access to Voffice.Please find your login details below</span> </p>

        <p>UserId:&nbsp;<span><b>{{userid}} </b></span></p>
        <p>Password:&nbsp;<span><b>{{passwordtext}} </b></span></p>
        <p>(You will be required to change your password on your first login)</p>

         <p>click to login your account:&nbsp;</p>

        <p><a href={{loginurl}}  target="_blank"><b><span>{{loginurl}}</span></b>.</a></p>
	<p>&nbsp;Thank you</p>
    <p>
        <u><strong>Regards</strong></u>
    </p>
    <p>
        <i style="font-family:'Times New Roman', Times, serif; font-size:16px;">Security Admin</i>
    </p>
    <p>
        <br />
    </p>
    </div>
</div>